.container {
    text-align: center;
    margin-top: 23px;
}

table {
    margin: auto;
}

input {
    font-size: 34px;
    border: 5px solid black;
    border-radius: 21px;
}

button {
    font-size: 40px;
    background: #90d3d3;
    width: 102px;
    height: 58px;
    border-radius: 20px;
}

.calculator {
    background-color: #66e995;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}